body{
  background-color: #D3DAD9;
  width : 100%;
  height : 100vh;
  display : flex;
  justify-content: center;
  align-items: center;
}

*{
  margin : 0px;
  padding : 0px;
}

.passwordBox{
  width : 400px;
  background-color: #FAF9EE;
  text-align: center;
  padding : 20px 20px;
  border : 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
}

.passwordBox h2{
  text-decoration: underline;
  letter-spacing: 2px;
  color : navy
}

.passwordIn{
  display : flex;
  padding : 10px 0px;
  margin : 10px 10px;
}

.passwordIn input{
  flex-basis: 70%;
  padding : 10px 0px;
  text-align: center;
}

.passwordIn button{
  flex-basis: 30%;
  cursor: pointer;
  font-size : 15px;
  background-color: transparent;
  border-radius: 10px;
  font-weight: 500;
  margin-left: 4px;
}

.passwordIn button:hover{
  background-color: #44444E;
  color : white;
}

.passwordLen{
  display : flex;
  justify-content: space-between;
  padding : 0px 10px;
}

.passwordLen label{
  font-size: 18px;
  font-weight: 600;
}

.passwordLen input{
  padding : 5px 2px;
  flex-basis: 20%;
}

.checkBox{
  display : flex;
  justify-content: space-between;
  padding : 5px 10px;
}

.checkBox label{
  font-size : 18px;
  font-weight: 600;
}

.checkBox input{
  flex-basis: 5%;
}

.btn{
  padding : 10px 10px;
}

button{
  width : 100%;
  padding : 10px 20px;
  background-color: transparent;
  font-size : 18px;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius : 10px;
  cursor : pointer;
}

button:hover{
  background-color: #44444E;
  color : white;
}


@media (max-width : 1080px){
  .passwordBox{
    width : 250px;
  }

  .passwordIn{
    display : flex;
  }

  .passwordIn input{
    flex-basis: 70%;
  }

  .passwordIn button{
    flex-basis: 30%;
  }
}